/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/* hier begint de CSS van de eerste homepagina*/

/* hier begint de CSS van algemene onderdelen over de hele pagina */


p {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: 'OpenSans-Light', sans-serif;
}


h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
}

hr {
    border-bottom: solid 1px #000;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}


/* hier begint de CSS van de header */

.logo {
    width: 200px;
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.start {
    display: flex;
    flex-direction: column;
}

.eten {
    display: flex;
    height: 170px;
}

.start > div {

background-image: url(../images/header.jpg);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
height: 15em;
width: 100vw;
}

.start >  div > div{

background-color: rgba(255, 255, 255, 0.75);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding: 16px;
height: 150px;
width: 85vw;
}

.start > div > div > div{

  height: 3em;
  width: 60vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start > div > div > div > span:nth-of-type(1){

background-color: white;
color: black;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.start > div > div > div > span:nth-of-type(2) {

height: 3em;
width: 3em;
}

/* hier begint de CSS van de eerste section 'nieuw' */


main > section > section > img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

main > section > section > h2 {
    font-size: 1.6em;
    font-family: "Zilla Slab", sans-serif;
    margin-left: 0.6em;
    margin-bottom: 0.6em;
}

.streep {
    margin-top: 30px;
}

.streep::before, .streep::after {
    content:"";
    border-bottom: 3px solid grey;
    width: 6em;
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: 1em;
}

/* hier begint de CSS van de section 'introductie' */

.auteur {
    width: 150px;
    position: relative;
    left: 30%;
    margin-bottom: 20px;

}

.intro {
    display: flex;
    flex-direction: column;
}

main > section:nth-of-type(2) > p {
    display: block;
    margin: 5px 25px 5px 25px;
    text-align: center;
    line-height: 25px;
}


/* hier begint de CSS van de section 'recepten' */

main > section:nth-of-type(3) {
    margin-top: 30px;
    margin-bottom: 50px;
}

main > section:nth-of-type(3) > div > img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

path {
    fill: white;
    color: aqua;
    z-index: 4;
    transform-origin: center;
}

main > section:nth-of-type(3) > div {
    position: relative;
    max-width: 100%;
    height: auto;
}

svg {
    position: absolute;
    width: 3em;
    height: 3em;
    background-color: grey;
    border-radius: 5em 5em 5em 5em;
    right: .5em;
    top: .8em;

}

.hartjeAnimation {
    background-color: aqua;
}

.hartjeAnimation path {
    animation: hartpulse 1s infinite;

}

@keyframes hartpulse {
    0%{
        transform:scale(1, 1);

    }

    50%{
        transform:scale(2, 2);

    }

    100%{
        transform:scale(1, 1);

    }
}

/* hier begint de CSS van de section 'populair' */


main > section:nth-of-type(4) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin-left: 10%;

}


main > section:nth-of-type(4) li {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0.3em 0.6em;
    justify-content: center;
    border: solid #000000 .1em;
    margin: .5em;
    font-size: .8em;

}

main > section:nth-of-type(4) li:hover {
    color: white;
    background-color: black;
}

main > section:nth-of-type(4) a {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    margin: 2em 5em 2em 5em;
    background: black;
    padding: 9px 16px;
    text-decoration: none;
    color: #FFFFFF;
}


/* hier begint de CSS van de section 'Sinterklaas' */

.foto4 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

main > section:nth-of-type(5) {
    background: #dde9e8;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* hier begint de CSS van de section 'inloggen' */

main > section:nth-of-type(6) p {
    display: flex;
    justify-content: center;
    width: 296px;
    height: 54px;
    margin-left: 40px;

}

main > section:nth-of-type(6) a {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    margin: 2em 5em 2em 5em;
    background: black;
    padding: 9px 16px;
    text-decoration: none;
    color: #FFFFFF;
}

/* hier begint de CSS van de section 'herstrecepten' */

main > section:nth-of-type(7) {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #658f89;
}

main > section:nth-of-type(7) p {
    margin-top: 1.5em;
    width: 90%;
    margin-left: .8em;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.75em;
}

main > section:nth-of-type(7) h1 {
    color: #FFFFFF;
    font-size: 1.25em;
}

main > section:nth-of-type(7) > ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

main > section:nth-of-type(7) > ul > li {
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
main > section:nth-of-type(7) > ul > li > img {
    width: 150px;
    height: 110px;
}

main > section:nth-of-type(7) > ul > li > span {
    display:flex;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

main > section:nth-of-type(7) a {
    display: flex;
    font-family: "helvetica", sans-serif;
    text-align: center;
    padding: 9px 10px;
    width: 250px;
    margin-left: 15%;
    background: white;
    text-decoration: none;
    color: #000000;
}


/* hier begint de CSS van de footer */

footer {
    background: #dde9e8;
    padding-top: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 15vh;
}

footer > p {
    font-size: 1em;
    text-align: center;
    width: 90%;
}

footer > h1 {
    font-size: 1.40em;
    text-align: center;
}

footer > label > input {
    display: flex;
    align-items: center;
    height: 1.9em;
    width: 90%;
    font-size: 1em;
    margin-left: 5%;
    border-radius: .5em .5em .5em .5em;
    border-style: none;
}

footer > a {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    margin: 2em 5em 2em 5em;
    background: black;
    padding: 9px 16px;
    text-decoration: none;
    color: #FFFFFF;
}

footer > a:nth-of-type(2),
a:nth-of-type(3),
a:nth-of-type(4),
a:nth-of-type(5) {
    font-size: .75em;
    background: none;
    color: black;
    margin: .5em 2em .5em 2em;
}
/* hier begint de CSS van de tabbar */

.tab  {
    position: fixed;
    bottom: 0%;
    width: 100vh;
    background-color: #6e8d88;
}

.tab > nav > ul > li {
    flex-direction: column;
    align-content: center;
    list-style: none;
    display: flex;
    flex-direction: wrap;
    margin: 0px 15px 0px 15px;
}

.tab > nav > ul {
    display: flex;
    padding: 10px 10px 10px 10px;
    width: 10px;
}

.tab > nav > ul > li > img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.tab > nav > ul > li > img:last-of-type {

}


.tab > nav > ul > li > span {
    display:flex;
    flex-direction: row;
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 10px;
}


/* hier begint de CSS van de detailpagina */

/* hier begint de CSS van de introductie section */

.detail > section:nth-of-type(1) > h1 {
    font-family: 'Zilla Slab', sans-serif;
    margin-top: 10px;
}

.detail > section:nth-of-type(2) > h2,
.detail > section:nth-of-type(5) > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 15px;;
    color: white;
    width: 15em;
    height: 40px;
    margin: 20px 20px 20px 40px;
}

/* hier begint de CSS van populair van de detailpagina */

.detail > section:nth-of-type(3) > ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.detail > section:nth-of-type(3) > ul > li {
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.detail > section:nth-of-type(3) > ul > li > img {
    width: 150px;
    height: 110px;
}

.detail > section:nth-of-type(3) > ul > li > span {
    display:flex;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    text-align: center;
}

/* hier begint de CSS van het weekmenu Sandra&Eric */

.detail > section > div > img {
    width: 1em;
}
/* hier begint de CSS van de herfstrecepten van de detailpagina */

.detail > section:nth-of-type(5) > p {
    color: #ffffff;
    text-align: center;
    margin-top: 24px;
    font-size: 10px;;
    line-height: 1.75;
}
.detail > section:nth-of-type(5) > ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.detail > section:nth-of-type(5) > ul > li {
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.detail > section:nth-of-type(5) > ul > li > img {
    margin-left: 10px;
    width: 150px;
    height: 90px;
}

.detail > section:nth-of-type(5) > ul > li > span {
    display:flex;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

.detail > section:nth-of-type(2) a {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    margin: 2em 5em 2em 5em;
    background: black;
    padding: 9px 16px;
    text-decoration: none;
    color: #FFFFFF;
}
