/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
width: 100vw;
overflow-x: hidden;
}

/* hier begint de CSS van de eerste homepagina*/

/* hier begint de CSS van algemene onderdelen over de hele pagina */

hr {
    border-bottom: solid 1px #000;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}


/* hier begint de CSS van de header */

.start section:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.start section:first-of-type > * {
    width: 33%;
}

.start section:first-of-type > div:last-of-type {
    display: flex;
    justify-content: flex-end;
}

.start section:first-of-type > div:last-of-type > a:first-of-type {
    border: solid 2px black;
    background: white;
    color: black;
    margin: 1em;
    padding: .7em;
    font-family: "OpenSans-Light", sans-serif;
    text-decoration: none;
}

.start section:first-of-type > div:last-of-type > a:last-of-type {
    border: solid 2px black;
    background: black;
    color: white;
    margin: 1em;
    padding: .7em;
    font-family: "OpenSans-Light", sans-serif;
    text-decoration: none;
}

.start section:first-of-type > div:last-of-type > a:first-of-type:hover,
.start section:first-of-type > div:last-of-type > a:last-of-type:hover,
.start > section > div:first-of-type > img:hover {
    color: white;
    background-color: rgba(101, 143, 137, 0.75);
    border: solid 2px white;
}


.start > section > div:first-of-type > img {
    width: 1em;
    margin: .6em;
    margin-top: 2em;
}


/* dit is CSS voor de verborgen tabbar wat uitschuift na 1040px */

.start > .headertab > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;
}

.start > .headertab > nav > ul > li {
    list-style: none;
    font-family: "OpenSans-Light", sans-serif;
}

.start > .headertab details > summary {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    font-family: "OpenSans-Light", sans-serif;
    font-weight: normal;
}

/* hier begint de CSS van de search balk voor zowel 1040 px als klein */

.filter {
    flex-direction: column;
    background-image: url(../images/header.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 100vw;
}

.filter > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.75);
}

.filter > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85vw;
    height: 3em;

}

.filter > div > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    margin-bottom: 1em;
}

.filter > div > div:first-of-type > span {
    display: flex;
    justify-content: center;
    width: 100%;
}

.filter > div > div:first-of-type > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.filter > div > div:last-of-type img {
    height: 1.5em;
    width: 1.5em;
    margin-top: .8em;
    margin-left: .5em;
}

.filter > div > div:last-of-type form,
.filter > div > div:last-of-type input {
    width: 110%;
    height: inherit;
    border: solid 1px white;
}

.filter a {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 20%;
    height: 100%;
    padding: 1em;
    margin-left: 2em;
    text-decoration: none;

}

.filter a:hover {
    color: white;
    background-color: rgba(101, 143, 137, 0.75);
    border: solid 2px white;
}

.filter > div > div:first-of-type > div {
    width: 100%;
}

.filter details {
    width: 30%;
    max-width: 100vw;
    border: solid 2px black;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.filter summary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6em;
}

/* hier begint de CSS van de eerste section 'nieuw' */


main > section > section > img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

main > section > h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25em;
    font-family: 'Zilla Slab', sans-serif;
}

main > section > .inspo > section > p:first-of-type,
main > section > .inspo > section > p:nth-of-type(3) {
    font-size: 1em;
    font-family: "OpenSans-Light", sans-serif;
    margin-left: 0.6em;

}

main > section > .inspo > section > p:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25em;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.7em;
    margin-left: 0.6em;
}

.streep {
    margin-top: 30px;
}

.streep::before,
.streep::after {
    content: "";
    border-bottom: 3px solid grey;
    width: 6em;
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: 1em;
}

/* hier begint de CSS van de section 'introductie' */

.intro {
    display: flex;
    justify-content: center;
}

main > .intro > img {
    width: 30vh;
    margin-bottom: 1.25em;
    margin-top: 1.25em;

}

main > article > h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.5em;
}

main > article > p {
    display: block;
    margin: 5px 25px 5px 25px;
    text-align: center;
    line-height: 1.5em;
    font-size: 1em;
    font-family: 'OpenSans-Light', sans-serif;
}


/* hier begint de CSS van de section 'recepten' */

main > h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.5em;
}

main > section:nth-of-type(3) {
    margin-top: 30px;
    margin-bottom: 50px;
}

main > section:nth-of-type(3) > div > img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

main > section:nth-of-type(3) > div > p {
    line-height: 1.5em;
    font-size: 1em;
    font-family: 'OpenSans-Light', sans-serif;
}

path {
    fill: white;
    color: aqua;
    z-index: 4;
    transform-origin: center;
}

main > section:nth-of-type(3) > div {
    position: relative;
    max-width: 100%;
    height: auto;
}

svg {
    position: absolute;
    width: 3em;
    height: 3em;
    background-color: grey;
    border-radius: 5em 5em 5em 5em;
    right: .5em;
    top: .8em;

}

.hartjeAnimation {
    background-color: aqua;
}

.hartjeAnimation path {
    animation: hartpulse 1s infinite;

}

@keyframes hartpulse {
    0% {
        transform: scale(1, 1);

    }

    50% {
        transform: scale(2, 2);

    }

    100% {
        transform: scale(1, 1);

    }
}

/* hier begint de CSS van de section 'populair' */


main > h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.5em;
}

main > section:nth-of-type(4) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin-left: 10%;

}

main > section:nth-of-type(4) li {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0.3em 0.6em;
    justify-content: center;
    border: solid #000000 .1em;
    margin: .5em;
    font-size: .8em;

}

main > section:nth-of-type(4) li:hover {
    color: white;
    background-color: black;
}

main > section:nth-of-type(4) > a {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    margin: 2em 5em 2em 5em;
    background: black;
    padding: 9px 16px;
    text-decoration: none;
    color: #FFFFFF;
}


/* hier begint de CSS van de section 'Sinterklaas' */

main > .sint > h5 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.5em;
}

main > .sint {
    background: #dde9e8;
    padding-top: 20px;
    padding-bottom: 20px;
}

main > .sint > articel > img {
    width: 100vw;
}

main > .sint > articel > p {
    font-size: 1em;
    font-family: "OpenSans-Light", sans-serif;
    margin-left: 0.6em;
}

/* hier begint de CSS van de section 'inloggen' */

main > section:nth-of-type(6) > h6 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.5em;
    margin-top: 2em;
}

main > section:nth-of-type(6) > articel {
    display: flex;
    justify-content: center;
}

main > section:nth-of-type(6) > articel > p {
    text-align: center;
    margin-left: .5em;
    width: 15em;
    font-family: "OpenSans-Light", sans-serif;
    margin-bottom: 1em;
}

main > section:nth-of-type(6) a {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    margin: 2em 5em 2em 5em;
    background: black;
    padding: 9px 16px;
    text-decoration: none;
    color: #FFFFFF;
}


/* hier begint de CSS van de section 'herstrecepten' */

main > section:nth-of-type(7) > h6 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
    color: #FFFFFF;
    font-size: 1.5em;
}

main > section:nth-of-type(7) {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #658f89;
}

main > section:nth-of-type(7) p {
    margin-top: 1.5em;
    width: 90%;
    margin-left: .8em;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.75em;
}

main > section:nth-of-type(7) > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

main > section:nth-of-type(7) > ul > li {
    flex-basis: 30%;
    margin-right: 2em;
    margin-left: .5em;
}

main > section:nth-of-type(7) > ul > li > a > img {
    width: 10em;
    height: 6em;
}

main > section:nth-of-type(7) > ul > li > a {
    display: flex;
    justify-content: center;
    margin-left: .4em;
    margin-top: .2em;
    background: none;
    width: 10em;
    height: 6em;
}

main > section:nth-of-type(7) > ul > li > span {
    display: flex;
    font-family: 'OpenSans-Light', sans-serif;
    margin-top: 1em;
    font-size: .8em;
    text-align: center;
    color: #FFFFFF;
}

main > section:nth-of-type(7) .balk {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    text-align: center;
    padding: 9px 10px;
    width: 250px;
    margin-left: 5em;
    margin-top: 2em;
    background: white;
    text-decoration: none;
    color: #000000;
}


/* hier begint de CSS van de footer */
footer > h6 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.5em;
}


footer {
    background: #dde9e8;
    padding-top: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 10vh;
}

footer > p {
    font-size: 1em;
    text-align: center;
    width: 90%;
}

footer > h1 {
    font-size: 1.40em;
    text-align: center;
}

footer > label > input {
    display: flex;
    align-items: center;
    height: 1.9em;
    width: 90%;
    font-size: 1em;
    margin-left: 5%;
    border-radius: .5em .5em .5em .5em;
    border-style: none;
}

footer > details {
    line-height: 3em;

}

footer > details > summary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;

}

footer > details > summary > span {
    width: 100px;
}


footer > a {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    margin: 2em 5em 2em 5em;
    background: black;
    padding: 9px 16px;
    text-decoration: none;
    color: #FFFFFF;
}

footer > a:nth-of-type(2),
a:nth-of-type(3),
a:nth-of-type(4),
a:nth-of-type(5) {
    font-size: .75em;
    background: none;
    color: black;
    margin: .5em 2em .5em 2em;
}

footer > .big {
    display: flex;
    flex-direction: row;
    margin-left: 4em;

}

footer > .big > section {
    width: 49vw;
}

footer > .big > section > a {
    text-decoration: none;
    font-family: "helvetica", sans-serif;
    font-size: .8em;
    color: black;
}

footer > .big > section > ul > li {
    list-style: none;
    font-size: .7em;
    margin-top: 1em;
}

/* hier begint de CSS van de tabbar */

.tab {
    position: fixed;
    bottom: 0%;
    width: 100vw;
    background-color: #6e8d88;
}

.tab > nav > ul > li {
    flex-direction: column;
    align-content: center;
    list-style: none;
    display: flex;
    flex-direction: wrap;
    margin: 0px 20px 0px 20px;
}

.tab > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    width: 100vw;
}

.tab > nav > ul > li > img {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    margin: 0px 5px 0px 5px;
    width: 30px;
    height: 30px;
}

.tab > nav > ul > li > .tab5 {
    width: 15px;
}

.tab > nav > ul > li > span {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 10px;
}


/* hier begint de CSS van de detailpagina */

/* hier begint de CSS van de introductie section */

.detail > h1 {
    display: flex;
    justify-content: center;
    font-family: 'Zilla Slab', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.detail > articel {
    display: flex;
    justify-content: center;
}

.detail > articel > p {
    font-family: "OpenSans-Light", sans-serif;
    font-size: 1.1em;
    text-align: center;
    width: 18em;
    height: 6.25em;
}

.detail > section:first-of-type {
    display: flex;
    flex-direction: row;
    margin-left: 2.5em;
    margin-top: 2em;
}

.detail > section:first-of-type > a  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    width: 10em;
    height: 2.5em;
    margin-left: 1em;

}

/* hier begint de CSS van populair van de detailpagina */

.detail > h2 {
    display: flex;
    justify-content: center;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.75em;
}

.detail > section:nth-of-type(2) > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 2em;
}

.detail > section:nth-of-type(2) > ul > li {
    flex-basis: 30%;
    margin-left: 0.6em;;
    margin-right: 1.25em;
    margin-bottom: 1.25em;
}

.detail > section:nth-of-type(2) > ul > li > img {
    width: 9.3em;
    height: 6.8em;
}

.detail > section:nth-of-type(2) > ul > li > span {
    display: flex;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    text-align: center;
}

/* hier begint de CSS van het weekmenu Sandra&Eric */

.detail > section:nth-of-type(3) > details > summary {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 1.5em;
}


/* hier begint de CSS van de herfstrecepten van de detailpagina */

.detail > section:nth-of-type(4) {
    background-color: rgba(101, 143, 137, 0.75);
}

.detail > section:nth-of-type(4) > h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Zilla Slab', sans-serif;
    color: white;
}

.detail > section:nth-of-type(4) > p {
    color: #ffffff;
    text-align: center;
    margin-top: 24px;
    font-size: 10px;
    line-height: 1.75;
}

.detail > section:nth-of-type(5) > ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: center;
}

.detail > section:nth-of-type(5) > ul > li {
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.detail > section:nth-of-type(5) > ul > li > img {
    margin-left: 10px;
    width: 150px;
    height: 90px;
}

.detail > section:nth-of-type(5) > ul > li > span {
    display: flex;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

.detail >  a {
    display: flex;
    justify-content: center;
    font-family: "helvetica", sans-serif;
    margin: 2em 5em 2em 5em;
    background: black;
    padding: 9px 16px;
    text-decoration: none;
    color: #FFFFFF;
}

/* hier begint de CSS van de media query's */

/* dit is de CSS voor als het scherm groter dan 1040px wordt */



@media (min-width:1040px) {

    .streep::before,
    .streep::after {
        width: 15em;
    }

    .tab {
        visibility: hidden;
    }

    .filter > div > div:first-of-type > span {
        position: absolute;
        visibility: hidden;
    }

    .filter > div > div:first-of-type {
        color: black;
        background-color: transparent;
    }

    main > section:first-of-type > .inspo {
        display: flex;
        flex-direction: row;
        width: 60vw;
    }

    main > section:first-of-type > .inspo > section > p {
        width: 35vw;
        margin-top: 2em;
    }

    main > section:nth-of-type(3) > .inspo {
        width: 49vw;
    }

    main > .recepten {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main > .recepten > div {
        width: 49vw;
        margin-left: .5em;
        margin-bottom: 1em;
    }

    main > .populair {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        font-size: 1.5em;
    }

    main > .populair > a {
        width: 30vw;
        font-size: .7em;
        left: 30%;
    }

    main > article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main > article > p {
        width: 60vw;
    }

    main > .sint {
        display: flex;
        flex-direction: row;
    }

    main > .sint > h5 {
        position: absolute;
        left: 40%;

    }

    main > .sint > articel > img {
        width: 30vw;
        margin-left: 1.8em;
        margin-top: 3em;
    }

    main > .sint > articel > p {
        margin-left: 2em;
    }

    main > section:nth-of-type(6) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main > section:nth-of-type(6) > articel > p {
        width: 49vw;
    }

    main > section:nth-of-type(6) > a {
        width: 30vw;
    }

    main > section:nth-of-type(7) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main > section:nth-of-type(7) > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 1em;

    }

    main > section:nth-of-type(7) > ul > li {
        margin-left: 2em;
    }

    main > section:nth-of-type(7) > ul > li > a > img {
        width: 20vw;
        height: 15vh;
        margin-left: 2.5em;
    }

    main > section:nth-of-type(7) > ul > li > span {
        font-size: 1em;
        margin-top: 2em;
        margin-right: 2em;
    }

    main > section:nth-of-type(7) > .balk {
        width: 30vw;
        right: 30%;
    }

    footer > details {
        visibility: hidden;
        position: absolute;
    }



}

/* dit is de CSS voor als het scherm kleiner wordt dan 1040px */

@media (max-width:1040px) {
    .headertab {
        display: none !important;
        width: 0 !important;
    }

    .filter > div > div:first-of-type > div {
        display: none !important;
        width: 0 !important;
    }

    .filter > div > div:last-of-type > a > span {
        position: absolute;
        visibility: hidden;
    }


    .filter > div > div:last-of-type > a:nth-of-type(2) {
        position: absolute;
        visibility: hidden;
    }

    .start > section:first-of-type > div {
        display: none !important;
        width: 0 !important;
    }



    .start section:first-of-type {
        width: 100vw;
        height: 7em;

    }

    .start section:first-of-type > img {
        justify-content: center;
        width: 20em;
        height: 7em;

    }

    .start > .eerste {
        visibility: hidden;
    }

    footer > .big {
        display: none;
        width: 0 !important;
    }
}

