/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/* hier begint de CSS van de eerste homepagina*/

/* hier begint de CSS van algemene onderdelen over de hele pagina */


p {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: 'OpenSans-Light', sans-serif;
}


h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', sans-serif;
}


/* hier begint de CSS van de header */

.logo {
    width: 200px;
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.start {
    display: flex;
    flex-direction: column;
}

.eten {
    display: flex;
    height: 170px;
}

.start > div {

background-image: url(../images/header.jpg);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
height: 15em;
width: 100vw;
}

.start >  div > div{

background-color: rgba(255, 255, 255, 0.75);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding: 16px;
height: 150px;
width: 85vw;
}

.start > div > div > div{

  height: 3em;
  width: 60vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start > div > div > div > span:nth-of-type(1){

background-color: white;
color: black;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.start > div > div > div > span:nth-of-type(2) {

height: 3em;
width: 3em;
}
/* hier begint de CSS van de eerste section 'nieuw' */


.foto1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

.foto2 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.nieuw {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1::before {
    background-color: black;
    height: 5px;

}

/* hier begint de CSS van de section 'introductie' */

.auteur {
    width: 150px;
    position: relative;
    left: 30%;
    margin-bottom: 20px;

}

.intro {
    display: flex;
    flex-direction: column;
}

main > section:nth-of-type(2) > p {
    display: block;
    margin: 5px 25px 5px 25px;
    text-align: center;
    line-height: 25px;
}

/* hier begint de CSS van de section 'recepten' */

.recepten {
    margin-top: 50px;
    margin-bottom: 50px;
}

.foto3 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

/* hier begint de CSS van de section 'populair' */


main > section:nth-of-type(4) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

main > section:nth-of-type(4) li {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    border: solid #000000 .1em;
    margin: .2em;
}


/* hier begint de CSS van de section 'Sinterklaas' */

.foto4 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.sinterklaas {
    background: #dde9e8;
}

/* hier begint de CSS van de section 'inloggen' */

main > section:nth-of-type(4) > h2,
section:nth-of-type(6) > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Zilla Slab', sans-serif;
    color: white;
    width: 300px;
    height: 40px;
    margin: 20px 20px 20px 40px;
}

/* hier begint de CSS van de section 'herstrecepten' */

.foto5 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.herfstrecepten {
    background: #658f89;
}

/* hier begint de CSS van de footer */

.eind {
    background: #dde9e8;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
}

/* hier begint de CSS van de tabbar */

.tab  {
    position: fixed;
    bottom: 0%;
    width: 100vh;
    background-color: #6e8d88;
}

.tab > nav > ul > li {
    flex-direction: column;
    align-content: center;
    list-style: none;
    display: flex;
    flex-direction: wrap;
    margin: 0px 15px 0px 15px;
}

.tab > nav > ul {
    display: flex;
    padding: 10px 10px 10px 10px;
    width: 10px;
}

.tab > nav > ul > li > img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.tab > nav > ul > li > img:last-of-type {

}


.tab > nav > ul > li > span {
    display:flex;
    flex-direction: row;
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 10px;
}


/* hier begint de CSS van de detailpagina */

/* hier begint de CSS van de introductie section */

.detail > section:nth-of-type(1) > h1 {
    font-family: 'Zilla Slab', sans-serif;
    margin-top: 10px;
}

.detail > section:nth-of-type(2) > h2,
.detail > section:nth-of-type(5) > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Zilla Slab', sans-serif;
    color: white;
    width: 300px;
    height: 40px;
    margin: 20px 20px 20px 40px;
}

/* hier begint de CSS van populair van de detailpagina */

.detail > section:nth-of-type(3) > ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.detail > section:nth-of-type(3) > ul > li {
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.detail > section:nth-of-type(3) > ul > li > img {
    width: 150px;
    height: 110px;
}

.detail > section:nth-of-type(3) > ul > li > span {
    display:flex;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    text-align: center;
}

/* hier begint de CSS van de herfstrecepten van de detailpagina */

.detail > section:nth-of-type(5) > p {
    color: #ffffff;
    text-align: center;
    margin-top: 24px;
    font-size: 10px;;
    line-height: 1.75;
}
.detail > section:nth-of-type(5) > ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.detail > section:nth-of-type(5) > ul > li {
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.detail > section:nth-of-type(5) > ul > li > img {
    margin-left: 10px;
    width: 150px;
    height: 90px;
}

.detail > section:nth-of-type(5) > ul > li > span {
    display:flex;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}
